<p>attribute-directive works!</p>
<div class="row bg-secondary rounded p-3 text-white">
    <h1>Attribiute Directive</h1>
    <p>[ngClass], [ngStyle]</p>
</div>
<div class="row my-3 gap-2">
    <div class="col bg-primary p-2 d-flex align-items-center justify-content-center" [ngClass]="divBgColor">
        <h4>Div1</h4>
    </div>
    <div class="col bg-secondary p-2 d-flex align-items-center justify-content-center" [ngClass]="isDiv2Active ? 'bg-secondary' : 'bg-success'">
        <h4>Div2</h4>
    </div>
    <div class="col bg-success p-2 d-flex align-items-center justify-content-center" [ngClass]="num1 == num2 ? 'bg-success' : 'bg-danger'" >
        <h4>Div3</h4>
    </div>
    <div class="col p-2 d-flex align-items-center justify-content-center" [ngClass]="isActive ? 'bg-primary' : ''">
        <h4>Div4</h4>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center">
        <button class="btn btn-warning" (click)="addYellow()">Add Yellow</button>
        <button class="btn btn-success mx-2" (click)="addGreen()">Add Green</button>
    </div>
    <div class="col text-center">
        <button class="btn btn-success" (click)="colorToggler()">Toggler</button>
    </div>
    <div class="col text-center">
        <input type="text" placeholder="Num1" [(ngModel)]="num1"/>
        <input type="text" placeholder="Num2" [(ngModel)]="num2"/>
    </div>
    <div class="col text-center">
        <input type="checkbox" [(ngModel)]="isActive"/>
        <select class="mx-3">
            <option value="React">React</option>
            <option value="Angular">Angular</option>
        </select>
    </div>
</div>
<div class="row pt-5">
    <div class="col">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Sr.No</td>
                <td>Names</td>
                <td>Status</td>
                <td>Marks</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of myArray; let SrNo = index">
                <td>{{SrNo}}</td>
                <td>{{data.name}}</td>
                <td [ngStyle]="{'background-color': data.isActive ? 'green' : 'red'}">
                    <span>{{data.isActive ? 'Active':'De-Active'}}</span>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" [ngStyle]="{'width': data.marks + '%'}" >{{data.marks}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col">
    <div [ngStyle]="customCss"></div>
</div>
</div>
