<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="add-employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="add-employee-list">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="data-binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="structural-directive">Structural Attribute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="attribute-directive">Attribute Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="control-flow">Control FLow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="pipe">Pipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="form">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="app-reactive-form">ReactiveForm</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="api-component">API's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="app-lifecycle">Lifecycle_Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="ng-template">Ng_template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="ng-container">Ng_Container</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="view-child">View_Child</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="control-flow">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="pipe">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="form">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="app-reactive-form">Upcoming</a>
        </li>
         <li class="nav-select nav-item mt-2">
          <select class="border-none bg-light" style="border: none">
          <option><a class="nav-link active" routerLink="app-reactive-form">Upcoming</a></option>
          <option><a class="nav-link active" routerLink="app-reactive-form">Upcoming</a></option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>